*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 0px;
    margin: 0px;
    color: #ffff;
    background-color: black;
    /* overflow-x: hidden; */
}


.header{
    margin: 0;
    height: 50px;
    padding: 3% 10%;
    width: 100vw;
    display: flex;
    align-items: center;
    position: relative;
}

.header img{
    padding-top: 1.8rem;
    width: 13rem;
}

.header a{
    text-decoration: none;
    background-color: red;
    color: white;
    position: absolute;
    right: 10%;
    font-size: 1rem;
    padding: 10px;
    font-weight: 300;
    border-radius: 5px;

}

.header #language{
    position:absolute;
    right: 20%;
    color: white;
}

select{
    background: none;
    color: #ffff;
    font-size: 1.2rem;
    border-radius: 4px;
}

option{
    color: black;
}

.first-part{
    width: 100vw;
    max-height: 95vh;
    /* height: auto; */
}

#bg-img{
    opacity: 0.5 ;
    width: 100vw;
    max-height: 95vh; 
    height: auto;
    position: absolute; 
}

.main-part{
    width: 75%;
    /* position: absolute; */
    /* left: auto;
    right: auto; */
    justify-content: center;
    align-items: center;
    position: relative;
    /* background-color: aqua; */
    /* opacity: 1; */
    height: 80vh;
    margin: 10% auto;
}

.main-part h2{
    font-size: 3.2rem;
    text-align: center;
}

.main-part h3{
    text-align: center;
}

p{
    text-align: center;
}

form{
    width: max-content;
    margin: auto;
}

.main-part input{
    /* background: none; */
    position: relative;
    bottom: 4px;
    background: transparent;
}

button#get-started{
    margin-left: 10px;
    background-color: red;
    /* width: auto; */
    font-size: 1.5rem;
    color: #ffff;
    display: inline;
    /* width:10rem; */
    height: 4rem;
    border: 0;
    border-radius: 5px;
}

input#email{
    background-color: #231e1e;
    opacity: 0.8;
    border: 1px solid gray;
    padding: 20px;
    height: 4rem;
    width: 20rem;
    border-radius: 5px;
}

input#email::placeholder{
    color: #ffff;
    font-size: 0.9rem;
}


h2{
    font-weight: 900;
    font-size: 3.2rem;
}

h3{
    font-weight: 300;
    font-size: 1.6rem;
}

/* right part */
img#right-part1{
    margin-left: 52px;
    margin-top: 20px;
}





/* new right text */
.sub-part{
    padding: 0 12%;
    height: auto;
    /* background-color: aquamarine; */
    border: 0;
    border-top: 10px solid #231e1e;
    display: flex;
}


.image-left{
    width: 50%;
    background-color: bisque;
    height: auto;
    min-height: 80vh;
    padding: 150px;
    margin: 10px 80px;
   

}

/* .image-left img{
    width: 100px;
    height: auto;
} */

.image-left#img1{
    background: url('https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png');
    background-position: center;
     background-size:auto;  
    background-repeat: no-repeat;
}

.image-left#img2{
    background: url('https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/mobile-0819.jpg');
    background-position: center;
    background-size:auto;  
    background-repeat: no-repeat;
}

.image-left#img3{
    background: url('https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/device-pile-in.png');
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}

.image-left#img4{
    background: url('https://occ-0-4994-2186.1.nflxso.net/dnm/api/v6/19OhWN2dO19C9txTON9tvTFtefw/AAAABVr8nYuAg0xDpXDv0VI9HUoH7r2aGp4TKRCsKNQrMwxzTtr-NlwOHeS8bCI2oeZddmu3nMYr3j9MjYhHyjBASb1FaOGYZNYvPBCL.png?r=54d');
    background-position: center;
    background-size: auto; 
    background-repeat: no-repeat; 
}

.text-right{
    padding-top: 10%;
    width: 50%;
    /* background-color: chartreuse; */
    /* height: auto; */
}

/* Question answer */

.ask-qs{
    /* height: auto; */
    width: 100vw;
    margin: auto;
    border: 0;
    padding: 20px 11%;
}

hr{
    border: 0;
    border-top: 10px solid #231e1e; 
}

h2#center-text{
    text-align: center;
}

ul{
    list-style-type: none;
}

.netflix-features li{
    width: 90%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 24px;
    height: 100px;
    background-color: #231e1e;
    margin: 10px 0 10px 20px ;
    
}

.netflix-features li:hover{
    background-color: #352f2f;
}

.form-style{
    padding: 24px 0;
}

.center-form{
    display: flex;
    
}

footer{
    height: 70vh;
    padding: 4% 12%;

}
.footer-elements{
    
    display: grid;
    grid-template-columns: auto auto auto auto ;
    grid-template-rows: 40px 40px 40px 40px ;

    /* display: flex;
    flex-wrap: wrap; */
    /* justify-content: center; */
   
}

.footer-elements li{
    /* display: inline; */
    font-size: 16px;
    /* width: 250px; */
    /* height: auto; */
    /* margin: 11%; */
    /* background: yellow; */

}

.footer-elements li a{
    color:rgba(255,255,255,0.7);
}

footer select{
    margin: 0 0 12px 40px ;
}

footer p{
    color:rgba(255,255,255,0.7);
    margin-left:40px;
    text-align:left;
}

footer p a{
    color: rgba(255,255,255,0.7);
}

@media screen and (max-width :880px) and (min-width:650px) {
   .footer-elements{
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(4,44px);
   }
}

@media screen and (max-width :650px)  {
   .footer-elements{
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(8,44px);
   }
}
